<%include partials/header%>

<h1>Book list</h1>
<a href="/books/new">Create New Book</a>
<% books.forEach(function(book){ %>

  <div class="">
    <h2><%= book.title%></h2>
    <img src="<%= book.image%>">
  </div>

<% }); %>

<%include partials/footer%>
